
/*下拉刷新插件*/
.cui-refresh-content
{
    height:100%;
    width:100%;
    position:relative;
    background-color: #f9f9f9;
}
.cui-refresh-content .cui-refresh-header
{
    position:absolute;
    width:100%;
    text-align: center;
}
.cui-refresh-header img
{
    height:100%;
    vertical-align: middle;
    margin-right:5px;
}
.cui-refresh-wrap
{
    min-height:100%;
}
/*下拉刷新插件end*/

/*轮播图*/
.cui-swiper-content
{
    width:100%;
    height:10rem;
    background-color:white;
    white-space: nowrap;
    position:relative;
    overflow:hidden;
}
.cui-swiper-content .cui-swiper-wrap
{
    white-space: inherit;
    margin-left:0;
    width:100%;
    font-size:0;
    height:100%
    /*-webkit-transition: margin-left .5s;
    -moz-transition: margin-left .5s;
    -ms-transition: margin-left .5s;
    -o-transition: margin-left .5s;
    transition: margin-left .5s;*/

}
.cui-swiper-content .cui-swiper-slide
{
    width:100%;
    height:100%;
    display:inline-block;
    vertical-align: top;
    background-color:blue;
    text-align: center;
    font-size:1rem;
    background-position:center;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat:no-repeat;
}
.cui-swiper-content .cui-swiper-pagination
{
    position:absolute;
    width:100%;
    height:3rem;
    line-height: 3rem;
    bottom:0;
    left:0;
    text-align: center;
}
.cui-swiper-pagination span
{
    display:inline-block;
    width:.5rem;
    height:.5rem;
    margin:4px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color:white;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
.cui-swiper-content-v .cui-swiper-pagination
{
    position:absolute;
    width:1rem;
    line-height: normal;
    min-height:100px;
    margin:auto;
    left:auto;
    top:0;
    right:2rem;
    bottom:0;
}
.cui-swiper-pagination .cui-swiper-pagination-acitve
{
    background-color:firebrick;
}
.cui-swiper-content-v
{
    white-space:normal !important;
}
/*轮播图end*/