/*style*/
html{
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
}
html,body {
    -webkit-touch-callout:none;
    -webkit-text-size-adjust:none;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
    -webkit-overflow-scrolling:auto;
    -webkit-user-select:auto;
    width: 100%;
}
body {
    line-height: 1.5;
    font-size: 0.8rem;
    color: #1c1c1c;
    background-color: #f5f5f5;
    outline: 0;
}
html,body,header,section,footer,div,ul,ol,li,img,a,span,em,del,legend,center,strong,var,fieldset,form,label,dl,dt,dd,cite,input,hr,time,mark,code,figcaption,figure,textarea,h1,h2,h3,h4,h5,h6,p{
    margin:0;
    border:0;
    padding:0;
    font-style:normal;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    outline: none;
}
@media only screen and (min-width: 400px) {
    html {
        font-size: 21.33333333px !important;
    }
}
@media only screen and (min-width: 414px) {
    html {
        font-size: 21px !important;
    }
}
@media only screen and (min-width: 480px) {
    html {
        font-size: 25.6px !important;
    }
}
ul, li {
    list-style: none;
}
p
{
    font-size: 0.7rem;
    color: #757575;
}
a
{
    color: #0062cc;
    text-decoration: none;
    background-color: transparent;
}
textarea
{
    overflow: auto;
    resize: none;
}
button
{
    overflow: visible;
}
button,select
{
    text-transform: none;
}
button,input,select,textarea
{
    font: inherit;
    color: inherit;
}
body,html
{
    width: 100%;
    height: 100%;
    overflow:hidden;
}
.cui-content
{
    width:100%;
    height:100%;
    overflow-y:auto;
    overflow-x:hidden;
    -webkit-overflow-scrolling:touch;
}

/*图标*/
@font-face {
    font-family: "cui-iconfont";
    src: url('../fonts/iconfont.woff') format('woff'),
    url('../fonts/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url('../fonts/iconfont.svg') format('svg'); /* iOS 4.1- */
}

.cui-iconfont {
    font-family:"cui-iconfont" !important;
    font-size: 16px;
    font-style: normal;
    vertical-align: top;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.cui-icon-accessory:before {
    content: "\e6dd";
}

.cui-icon-add:before {
    content: "\e6df";
}

.cui-icon-addition:before {
    content: "\e6e0";
}

.cui-icon-addpeople:before {
    content: "\e6e1";
}

.cui-icon-barrage:before {
    content: "\e6e3";
}

.cui-icon-brush:before {
    content: "\e6e5";
}

.cui-icon-businesscard:before {
    content: "\e6e6";
}

.cui-icon-camera:before {
    content: "\e6e7";
}

.cui-icon-clock:before {
    content: "\e6e8";
}

.cui-icon-close:before {
    content: "\e6e9";
}

.cui-icon-collection:before {
    content: "\e6ea";
}

.cui-icon-computer:before {
    content: "\e6eb";
}

.cui-icon-coordinates:before {
    content: "\e6ec";
}

.cui-icon-createtask:before {
    content: "\e6ef";
}

.cui-icon-customerservice:before {
    content: "\e6f1";
}

.cui-icon-delete:before {
    content: "\e6f2";
}

.cui-icon-document:before {
    content: "\e6f3";
}

.cui-icon-dynamic:before {
    content: "\e6f4";
}

.cui-icon-editor:before {
    content: "\e6f5";
}

.cui-icon-eit:before {
    content: "\e6f6";
}

.cui-icon-emoji:before {
    content: "\e6f7";
}

.cui-icon-empty:before {
    content: "\e6f8";
}

.cui-icon-enter:before {
    content: "\e6f9";
}

.cui-icon-enterinto:before {
    content: "\e6fa";
}

.cui-icon-flag:before {
    content: "\e6fb";
}

.cui-icon-group:before {
    content: "\e6ff";
}

.cui-icon-headlines:before {
    content: "\e701";
}

.cui-icon-like_fill:before {
    content: "\e707";
}

.cui-icon-like:before {
    content: "\e708";
}

.cui-icon-lock:before {
    content: "\e709";
}

.cui-icon-mail:before {
    content: "\e70a";
}

.cui-icon-manage:before {
    content: "\e70b";
}

.cui-icon-message:before {
    content: "\e70c";
}

.cui-icon-order:before {
    content: "\e713";
}

.cui-icon-other:before {
    content: "\e714";
}

.cui-icon-people:before {
    content: "\e715";
}

.cui-icon-picture:before {
    content: "\e716";
}

.cui-icon-play:before {
    content: "\e717";
}

.cui-icon-qrcode:before {
    content: "\e71c";
}

.cui-icon-refresh:before {
    content: "\e71e";
}

.cui-icon-remind:before {
    content: "\e71f";
}

.cui-icon-return:before {
    content: "\e720";
}

.cui-icon-send:before {
    content: "\e726";
}

.cui-icon-setup:before {
    content: "\e728";
}

.icon-share:before {
    content: "\e729";
}

.cui-icon-switch:before {
    content: "\e72e";
}

.cui-icon-tasklist:before {
    content: "\e733";
}

.cui-icon-time:before {
    content: "\e735";
}

.cui-icon-trash:before {
    content: "\e738";
}

.cui-icon-undo:before {
    content: "\e739";
}

.cui-icon-unlock:before {
    content: "\e73a";
}

.cui-icon-search:before {
    content: "\e741";
}

.cui-icon-packup:before {
    content: "\e749";
}

.cui-icon-unfold:before {
    content: "\e74a";
}

.cui-icon-shake:before {
    content: "\e74e";
}
/*图标end*/
/*一些公用的css*/
.cui-flex-wrap
{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.cui-flex-con
{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}
.cui-flex-vertical
{
    -webkit-box-orient: vertical;
    -webkit-flex-flow: column;
    flex-flow: column;
}
/*一些公用的css end*/
/*头部*/
.cui-header
{
    height:2rem;
    line-height: 2rem;
    width:100%;
    background-color:white;
    padding:0 .4rem;
    position:relative;
}
.cui-header .cui-header-title
{
    display:inline-block;
    width:70%;
    text-align: center;
    position:absolute;
    top:0;
    left:0;
    height:100%;
    line-height: 2rem;
    z-index:0;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    right:0;
    margin:auto;
}

.cui-header .cui-iconfont
{
    position:relative;
    z-index:1;
}
.cui-header .cui-iconfont:before
{
    font-size:1.2rem !important;
}
.cui-header .cui-header-btn
{
    float:right;
    margin-left:.2rem;
}
.cui-header .cui-header-search
{
    height:100%;
    padding:0 .4rem;
    top:0;
}

.cui-header .cui-header-enter
{
    display:inline-block;
    float:right;
    font-size:16px;
    position:relative;
    z-index:2;
}

.cui-header-primary
{
    background-color:#00bcd4;
    color:white;
}

.cui-header-danger
{
    background-color: #cc1227;
    color:white;
}
.cui-header-warning
{
    background-color: #ffc059;
    color:white;
}

.cui-header-sky
{
    background-color: deepskyblue;
    color:white;
}

.cui-header-dark
{
    background-color:#354C54;
    color:white;
}


/*头部end*/

/*搜索框*/
.cui-searchbar
{
    min-width:100px;
    height:2rem;
    position:relative;
}
.cui-searchbar input
{
    width:100%;
    height:1.4rem;
    background-color:#f5f5f5;
    -webkit-user-select:text;
    border-radius:1rem;
    padding:0 .75rem;
    line-height: 1.4rem;
    color:#1c1c1c;
    margin-top:.3rem;
}
.cui-searchbar .cui-searchbar-btn
{
    display:inline-block;
    height:1.2rem;
    width:1.2rem;
    border-radius:50%;
    background-color: rgb(224, 224, 224);
    position:absolute;
    right:.15rem;
    top:.4rem;
    text-align: center;
    line-height: 1.2rem;
}
.cui-searchbar-btn:before
{
    content:"\e741";
    font-family:"cui-iconfont";
    vertical-align: top;
    color:white;
}
/*搜索框end*/

/*按钮*/
.cui-btn
{
    display:inline-block;
    padding:.4rem 1rem;
    line-height: 1;
    background-color: #fcfcfc;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    cursor:pointer;
    white-space:nowrap;
}
.cui-btn-sm
{
    padding:.2rem .4rem;
    font-size:.7rem;
}
.cui-btn-radius:not(.cui-btn-sm)
{
    border-radius:.9rem;
    height:1.8rem;
}
.cui-btn-radius.cui-btn-sm
{
    border-radius:.6rem;
    height:1.2rem;
}
.cui-btn-block
{
    display:block;
    text-align: center;
}
.cui-btn-default
{
    background-color:#fcfcfc;
    border:1px solid #dedede;
}
.cui-btn-default.cui-line
{
    border:1px solid #1c1c1c;
}
.cui-btn-primary
{
    background-color:#478CD1;
    border:1px solid #478CD1;
    color:white;
}
.cui-btn-primary.cui-line
{
    border:1px solid #478CD1;
    color:#478CD1;
}
.cui-btn-danger
{
    background-color:#EE3E55;
    border:1px solid #EE3E55;
    color:white;
}
.cui-btn-danger.cui-line
{
    border:1px solid #EE3E55;
    color:#EE3E55;
}
.cui-btn-warning
 {
     background-color:#EDCC42;
     border:1px solid #EDCC42;
     color:white;
 }
.cui-btn-warning.cui-line
{
    border:1px solid #EDCC42;
    color:#EDCC42;
}
.cui-btn-success
{
    background-color:#82C35C;
    border:1px solid #82C35C;
    color:white;
}
.cui-btn-success.cui-line
{
    border:1px solid #82C35C;
    color:#82C35C;
}
.cui-btn-dark
{
    background-color:#354C54;
    border:1px solid #354C54;
    color:white;
}
.cui-btn-dark.cui-line
{
    border:1px solid #354C54;
    color:#354C54;
}
.cui-btn-purple
{
    background-color:#CB56AF;
    border:1px solid #CB56AF;
    color:white;
}
.cui-btn-purple.cui-line
{
    border:1px solid #CB56AF;
    color:#CB56AF;
}

.cui-line
{
    background-color:transparent;
}
/*按钮end*/

/*表单*/
.cui-form
{
    display:block;
    width:100%;
    background-color:white;
    padding:.4rem;
}
.cui-input
{
    color:inherit !important;
    min-height:2rem;
    line-height: 2rem;
    border-bottom:1px solid #e2e2e2;
    margin-bottom:.5rem;
    display:-webkit-box;
    display:-webkit-flex;
    display:flex;
    -webkit-box-align: center;
    -webkit-align-content: center;
    -webkit-justify-content: center;
    position:relative;
}
.cui-input:focus
{
    border-bottom:1px solid deepskyblue;
}
.cui-input label,.cui-input .label
{
    display:inline-block;
    width:5rem;
    overflow:hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;

}
.cui-input input
{
    height:99%;
    line-height: 2rem;
    -webkit-box-flex:1;
    -webkit-flex:1;
    color:black;
    flex:1;
    margin:auto;
    -webkit-user-select:text;
}
.cui-input textarea
{
    -webkit-box-flex:1;
    -webkit-flex:1;
    flex:1;
    line-height: normal;
    height:7rem;
    margin-top:8px;
    -webkit-user-select:text;
}
.cui-input-btn .cui-btn
{
    position:absolute;
    margin:auto;
    right:0;
    top:0;
    bottom:0;
}

/*表单end*/

/*下拉刷新插件*/
.cui-refresh-content
{
    height:100%;
    width:100%;
    position:relative;
    background-color: #f9f9f9;
    -webkit-overflow-scrolling:touch;
}
.cui-refresh-content .cui-refresh-header
{
    position:absolute;
    width:100%;
    text-align: center;
}
.cui-refresh-header img
{
    height:100%;
    vertical-align: middle;
    margin-right:5px;
}
.cui-refresh-wrap
{
    min-height:100%;
}
/*下拉刷新插件end*/


/*加载插件*/
.cui-loading-content
{
    height:1rem;
    text-align: center;
    font-size:14px;
}
.cui-loading-content img
{
    height:100%;
    margin-right:5px;
}

/*轮播图*/
.cui-swiper-content
{
    width:100%;
    height:10rem;
    background-color:white;
    white-space: nowrap;
    position:relative;
    overflow:hidden;
    -webkit-overflow-scrolling:auto;
}
.cui-swiper-content .cui-swiper-wrap
{
    white-space: inherit;
    margin-left:0;
    width:100%;
    font-size:0;
    height:100%
    /*-webkit-transition: margin-left .5s;
    -moz-transition: margin-left .5s;
    -ms-transition: margin-left .5s;
    -o-transition: margin-left .5s;
    transition: margin-left .5s;*/

}
.cui-swiper-content .cui-swiper-slide
{
    width:100%;
    height:100%;
    display:inline-block;
    vertical-align: top;

    text-align: center;
    font-size:1rem;
    background-position:center;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat:no-repeat;
}
.cui-swiper-content .cui-swiper-pagination
{
    position:absolute;
    width:100%;
    height:3rem;
    line-height: 3rem;
    bottom:0;
    left:0;
    text-align: center;
}
.cui-swiper-pagination span
{
    display:inline-block;
    width:.5rem;
    height:.5rem;
    margin:4px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color:white;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
.cui-swiper-content-v .cui-swiper-pagination
{
    position:absolute;
    width:1rem;
    line-height: normal;
    min-height:100px;
    margin:auto;
    left:auto;
    top:0;
    right:2rem;
    bottom:0;
}
.cui-swiper-pagination .cui-swiper-pagination-acitve
{
    background-color:firebrick;
}
.cui-swiper-content-v
{
    white-space:normal !important;
}
/*轮播图end*/


/*popModal插件*/
.cui-popmodal
{
    position:absolute;
    width:200px;
    top:100%;
    left:0;
    z-index:2;
    padding-top:8px;
}
.cui-popmodal:before
{
    content:"";
    display:inline-block;
    width:0;
    height:0;
    border-left:8px solid transparent;
    border-right:8px solid transparent;
    border-bottom:8px solid rgba(0, 0, 0, 0.61);
    position:absolute;
    top:0;
    left:5px;
}

.cui-popmodal .cui-popmodal-text
{
    width:100%;
    min-height:15px;
    background-color:rgba(0, 0, 0, 0.61);
    word-break: break-all;
    color:white;
    padding:.4rem;

}